@import "tailwindcss";



:root {
  --font-lora: 'Lora', serif;
  --font-sofia: 'Sofia Sans', sans-serif; 
}

body {
  font-family: var(--font-lora);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sofia);
}
